.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.category {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.home-container h2 {
    text-align: center;
    margin-top: 80px;
    font-size: 36px;
    color: #333;
}
.card {
    width: 300px;
    height: 340px;
    padding: 15px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card img {
    height: 200px;
    width: 240px;
}
.card-container img {
    margin: 10px;
}
.category h1 {
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
}
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
/* .cart {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
} */
