/* Restaurant.css */

.restaurants-container {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.restaurants-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.restaurant-details {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    cursor: pointer;
}

.restaurant-details img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.restaurant-details h2 {
    font-size: 1.5rem;
    color: #333;
    margin: 15px 0;
}

.restaurant-details p {
    font-size: 1rem;
    color: #666;
}

.restaurant-details:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Responsive Design */
@media (max-width: 768px) {
    .restaurant-details h2 {
        font-size: 1.2rem;
    }

    .restaurant-details p {
        font-size: 0.9rem;
    }
}
