.navbar {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.active {
    background-color: #ff5a5f; /* Highlight color */
    color: white;
    border-radius: 4px;
    padding: 5px 10px;
}
.navbar-logo a {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-right: 50px;
}

.navbar-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.user-info {
    background-color: #512da8;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 10px;
    cursor: pointer;
}
.cart-img {
    margin-left: 10px;
    margin-top: -5px;
    cursor: pointer;
}
.dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: blue;
    border-radius: 50%;
    top: 20px;
    right: 64px;
}
